# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.ilk


# Compiled Python scripts
*.pyc

*pydevproject
src/mayaToNox/
src/mayaToFluid/
src/mayaToMitsuba/
src/mayaToCorona/docs/betaTesters.txt
src/mayaToCorona/vs2010/x64/
*.igmesh
src/mayaToIndigo/vs2010/x64/
src/mayaToThea/vs2010/x64/
