# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python scripts
*.pyc
Debug/
Debug*
Release*
x64/
ipch/
*.sdf
*.suo
*.opensdf
