# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.dll
*.pdb

# indigo devkit files
devkit/
deployment/
mtin_devmodule/bin/
mtin_devmodule/plug-ins/

